<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.csjr.moviesys.mapper.FeedbackMapper" >
  <resultMap id="BaseResultMap" type="team.csjr.moviesys.entity.Feedback" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="feedback_id" property="feedbackId" jdbcType="INTEGER" />
    <result column="feedback_content" property="feedbackContent" jdbcType="VARCHAR" />
    <result column="feedback_time" property="feedbackTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>